{% extends 'store/base.html' %}

{% block content %}
<hr>
<h1 class="intro-text text-center">{{ album_title }}</h1>
<hr class="detail-separator">
<div class="col-md-6">
  <img src="{{ thumbnail }}" alt="{{ album_title }}" class="img-responsive">
</div>
<div class="col-md-6">
  <div style="margin-bottom:45px">
    <h2 class="text-center artist_name">Artistes</h2>
    <p>{{ artists_name }}</p>
  </div>

  <h2 class="text-center artist_name">Réserver {{ album_title }}</h2>
  <p style="margin-bottom: 20px;">Demandez-nous de mettre de côté {{ album_title }} et venez le chercher dès demain en magasin ! </p>
  <form class="form-inline" action="{% url 'store:detail' album_id=album_id %}" method="post">
    {% csrf_token %}

    <div class="form-group {% if form.name.errors %} has-warning has-feedback{% endif %}">
      <label for="{{ form.name.id_for_label }}"class="control-label">Nom</label>
      {{form.name}}
    </div>
    <div class="form-group {% if form.email.errors %} has-warning has-feedback{% endif %}">
      <label for="{{ form.email.id_for_label }}">E-mail</label>
      {{form.email}}
    </div>
    <!-- <input type="hidden" class="hidden" value="" name="album_id"> -->

    <button type="submit" class="btn btn-success">Réserver</button>
  </form>
  {% if errors %}
<div>
  {% for key, error in errors %}
  {% autoescape off %}
    {{ error }}
  {% endautoescape %}
  {% endfor %}
</div>
{% endif %}

</div>


{% endblock %}